.DS_Store
node_modules/
src/
npm-debug.log
yarn-error.log
package-lock.json
webpack.config.js
.editorconfig
.babelrc
vue-pc-table.js.map
index.html

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
